<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cryptopro"
        version="1.1.0">

    <name>Snpf CryptoPro</name>
    <description></description>
    <author>Alexey Ermashov</author>
    <keywords>android, cryptopro</keywords>
    <license>MIT</license>

    <js-module src="www/cryptopro.js" name="Cryptopro">
        <clobbers target="Cryptopro" />
    </js-module>
    <engines>
        <engine name="cordova-android" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/ru/eaasoft/plugins/CryptoproPlugin.java" target-dir="src/ru/eaasoft/plugins/" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Cryptopro" >
                <param name="android-package" value="ru.eaasoft.plugins.CryptoproPlugin" />
            </feature>
        </config-file>

        <framework src="src/android/cryptopro.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/libs/AdES-core.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/ASN1P.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/asn1rt.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/bcpkix-jdk15on-1.50.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/bcprov-jdk15on-1.50.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/CAdES.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/cpSSL.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCP.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCPRequest.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCPRevCheck.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCPRevCheck.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCPRevTools.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCPxml.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JCSP-android.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/JInitCSP.jar" target-dir="libs" framework="true"/>
        <source-file src="src/android/libs/xmlsec-1.4.4.jar" target-dir="libs" framework="true"/>
    </platform>
</plugin>